* {
    foreground:                  rgba ( 222, 222, 222, 50 % );
    alternate-normal-background: rgba ( 18, 18, 18, 50 % );
    background:                  rgba ( 18, 18, 18, 50 % );
    selected-normal-background:  rgba ( 151, 190, 220, 50 % );
}

#window {
    border:  0px;
    padding: 10px;
}
